<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diginote">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">

    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA">

    </uses-permission>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.example.diginote.activities.ChecklistActivity"></activity>
        <activity android:name="com.example.diginote.activities.AddImageActivity" />
        <activity android:name="com.example.diginote.activities.DrawActivity" />
        <activity android:name="com.example.diginote.activities.SpeechActivity" />
        <activity android:name="com.example.diginote.activities.AddNotesActivity" />
        <activity android:name="com.example.diginote.activities.SettingsActivity"></activity>
        <activity android:name="com.example.diginote.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reminder.NotificationMessage"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver
            android:name=".reminder.BootUpReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reminder.AlarmBrodcast" />

    </application>

</manifest>